body {
    .text-center

{
    text-align: center;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
}

    .btn-close:hover {
        color: #000;
        opacity: .75;
    }

.text-success {
    color: #28a745;
}

.text-muted {
    color: #6c757d;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-white {
    color: #fff !important;
}

.padded-cell {
    padding-left: 1rem; /* Adjust padding as needed */
    padding-right: 1rem; /* Adjust padding as needed */
}
}
